* {margin: 0px; padding: 0px;} 
body{
    position: relative;
    background-color: rgb(30, 30, 30);
}
h1{
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 0.2em rgb(43, 255, 0), 0 0 0.2em rgb(0, 255, 170);
    color: rgb(22, 6, 6);
    font-size: 100px;
}
div{  
    margin-top: 30px;
    text-align: center;
    padding: 50px
}
.linea{
    margin: 0;
    margin-top: 25px;
    padding: 25px;
    background-color: white;
}
.categorias{
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.terror{
    border: 5px rgb(172, 0, 46) solid;
    border-radius: 10px;
    background-color: rgba(39, 28, 30, 0.75);
    float: left;
    position: absolute;
    left: 25%;
    -webkit-box-shadow: 0px 2px 16px 8px rgb(88, 0, 0);
    -moz-box-shadow: 0px 2px 16px 8px rgb(80, 0, 70);
    box-shadow: 0px 2px 16px 8px rgb(59, 0, 8);
    color: red;
}
.comedia{  
    border: 5px rgb(255, 208, 0) solid;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    position: absolute;
    right: 25%;
    -webkit-box-shadow: 0px 2px 16px 8px rgb(56, 54, 0);
    -moz-box-shadow: 0px 2px 16px 8px rgb(56, 36, 0);
    box-shadow: 0px 2px 16px 8px rgb(56, 30, 0);
    color: rgb(255, 200, 1);
}
a{
    text-decoration: none;
    color: royalblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.terror:hover{
    background-color: rgba(0, 149, 255);
    color: white;
    border: 5px white solid;
    border-radius: 10px;
}
.comedia:hover{
    background-color: rgba(0, 149, 255);
    color: white;
    border: 5px white solid;
    border-radius: 10px;
}
.lineaAbajo{
    margin-top: 200px;
    padding: 25px;
    background-color: white;
}
img
{
 max-width: 200px;
 
}