* {margin: 0px; padding: 0px;} 
body
{
    background-color: rgb(25,25,25);
    text-align: center;
    color: white;
    
}

.cajaGrande
{   
    background-color: rgb(53, 52, 49);
    border-top: 10px brown solid;
    border-left: 10px brown solid;
    border-right: 10px rgb(129, 19, 19) solid;
    border-bottom: 10px rgb(129, 19, 19)solid;
    border-radius: 20px;
    margin: 100px;
    margin-left: 20%;
    margin-right: 20%;
    height: 750px;
    width: 1000px;
}
.cajaIzq
{
    text-align: center;
    float: left;
    width: 50%;  
    
}
.cajaDch
{
    float: right;
    width: 50%;
    height: 100%;
    color: white;
}
.titulo
{
    color: white;
    margin-top: 50px;
    text-align: center;
}
img
{
    margin-top: 10px;
    width: 300px;
    margin-bottom: 10px;;
}
.sinopsis
{
    padding: 50px;
}
.añoDeSalida
{
    margin-top: 70px;
}
.directores
{
    padding: 50px;
}
.reparto
{
    padding: 50px;
}
a
{
    color: white;
    text-decoration: none;    
}
a:hover
{
    color: orangered;
}
.voto
{
    padding-bottom: 50px;
}
.boton {
    font-family: Arial;
    color: #87001b;
    font-size: 35px;
    padding: 5px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #87001b 4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffad3b), to(#fa055b));
    background: -moz-linear-gradient(top, #ffad3b, #fa055b);
  }

  .boton:hover {
    color: #f6fa00;
    border-color: #f6fa00;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#ffffb8));
    background: -moz-linear-gradient(top, #fcfcfc, #ffff67)
  }